<script src="/socket.io/socket.io.js"></script>
<script>
	function initfunc() {	
		console.log("broh");
	var vifi=document.createElement("video");
		vifi.setAttribute("id","project-video-file");
		//vifi.setAttribute("controls","true");
		vifi.setAttribute("autoplay","true");
		vifi.setAttribute("mute","true");
		vifi.setAttribute("loop","true");
		vifi.setAttribute("src","/videos/small_video.mp4");
	document.querySelector("#video-container").appendChild(vifi);
}
window.onload = initfunc;

function getProjectVideo(){		
	var videoURL="http://www.youtube.com/watch?v=hNH4WRVHwz4";
	$.ajax({
      type: 'POST',
      data: {
       'message':'get_from_youtube',
       'originalVideoURL': videoURL
      },
      dataType: 'json'
	});
};
var socket = io();
socket.on('projectVideo', function (data) {
	projectVideo=data.toString();
	console.log("data from video is:"+JSON.stringify(data));
	/*var video = document.createElement('video');

	video.src = '/videos/videooo.mp4';
	video.autoplay = true;
	$("#video-container").append(video);*/
	//evil.changeVideo(projectVideo);
	//projectHasVideo=true;

	var videoEl=document.querySelector("#project-video-file");
		videoEl.pause();
		videoEl.removeAttribute('src');
		videoEl.load();
		videoEl.setAttribute("src","/videos/videooo.mp4");
		videoEl.load();
		videoEl.play();

});
socket.on('projectVideoEnd', function (data) {
	console.log("finshed video!!!");
	

});
</script>
<button type="submit" class="btn btn-paragraph" onclick="getProjectVideo()">Get Video</button>
<div id="video-container">
	<!--<video width="320" height="240" controls mute autoplay>
		<source src="/videos/videooo.mp4" "type"="video/mp4"></source>
	</video>-->
</div>