<!--||||||||-->
<!--ABOUT US-->
<!--||||||||-->
<section id="section-about-us">
{{#if data.post.content.more}}
<div class="container-fluid background light-grey">
		<div class="row">
			<div class="container text-container">
				<div class="row">						
					<div class="col-sm-12 col-md-12 text-col content-extended">
						{{{data.post.content.more}}}
					</div>							
				</div>
			</div>
		</div>
	</div>
{{/if}}
</section>