<!--||||||||||||||||||||| -->
<!--SMALL CATEGORIES BROH -->
<!--||||||||||||||||||||| -->

<div class="container">
	<div class="row">		
		{{#each data.categories }}
		<a href="{{categoryUrl key ../section}}" class="project-link">
			<div class="col-sm-6 col-md-3 category-col">
				<h3 class="project-title">{{name}}</h3>
			</div>	
		</a>
		{{/each}}			
	</div>
</div>