<!--||||||||||||||||||||| -->
<!--SMALL CATEGORIES BROH -->
<!--||||||||||||||||||||| -->
	<div class="row small-category-row">		
		{{#each data.categories }}
		<a href="{{categoryUrl key ../section}}" class="project-link">
			<div class="col-sm-6 col-md-6 category-col small-category-col">
				<h3 class="project-title small-category-title">{{name}}</h3>
				{{#each ../data.featuredPosts}}
							{{#ifPostIsInCategory categories ../name}}
								{{#if mainImage.exists}}<div class="small-category-image-container"><img class="cld-responsive img-responsive mobo" data-src="{{cloudinaryUrl mainImage width='auto' height=46 q='70' crop='fill' gravity=mainImageCrop}}"/></div>{{/if}}	
							{{/ifPostIsInCategory}}
				{{/each}}
			</div>	
		</a>
		{{/each}}			
	</div>