<div class="drop-cap-container">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 450 300" xml:space="preserve">
		<polygon class="logo-highlight" points="450,299.953 0.234,299.953 0.234,0.047 449.766,0.047"/>
		<circle class="logo-highlight" cx="152.296" cy="150" r="64.209"/>
		<path class="logo-highlight" d="M0.234,300c87.853-58.414,87.853-150,87.853-150l122.479-27c0,0,76.021,147.084,239.434,147.084v29.869
		L0.234,300z"/>
		<rect class="logo_main" x="0" y="0" width="450" height="300"/>
	</svg>
</div>