<div class="drop-cap-container">
	<svg version="1.1" id="drop-cap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 300" xml:space="preserve">
		<path class="drop-cap-back" d="M285.134,300H14.858C6.652,300,0,293.348,0,285.142V14.858C0,6.652,6.652,0,14.858,0h270.136
	c8.203,0,14.854,6.647,14.858,14.85l0.141,270.284C299.997,293.343,293.343,300,285.134,300z"/>
		<!--<circle class="logo_highlight" cx="152.296" cy="140" r="64.209"/>-->
		<rect class="logo_highlight" x="0.0" y="280.0" width="400.0" height="20.0"/>
	</svg>
</div>