<div class="drop-cap-container-mobile mobile-show"><svg version="1.1" id="drop-cap-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 800 500" xml:space="preserve">
<rect class="logo_highlight" width="30" height="340"></rect>
<rect class="logo_highlight" y="210" width="250" height="30"></rect>
<rect class="logo_highlight" y="310" width="700" height="30"></rect>
<rect class="logo_highlight" x="290" y="310" width="30" height="100"></rect>
<rect class="logo_highlight" x="670" y="310" width="30" height="100"></rect>
</svg></div>