<div class="drop-cap-container">
	<svg version="1.1" id="drop-cap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 250" xml:space="preserve">
		<path class="drop-cap-back" d="M237.486,250.047H12.514c-6.83,0-12.367-5.537-12.367-12.367V12.701c0-6.83,5.537-12.367,12.367-12.367h224.855
	c6.828,0,12.364,5.533,12.367,12.361l0.117,224.979C249.857,244.506,244.319,250.047,237.486,250.047z"/>
		<!--<circle class="logo_highlight" cx="152.296" cy="140" r="64.209"/>-->
		<rect class="logo_highlight" x="0.0" y="270.0" width="400.0" height="30.0"/>
	</svg>
</div>