<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2><b>From: </b>{{printName formData}}</h2>
<p><b>Message: </b>{{formData.message}}</p>
<p><b>Email Address: </b>{{formData.email}}</p>
<p>This is an enquiry from the Euphoric Blast website.</p>
</body>
</html>