<footer>
<div class="container-fluid container-footer-fluid">
	<div class="row">
		<div class="container">
			<div class="row">
				<div id="footer">
					<p>This is NOT a Wordpress site. Hand made by Euphoric Blast in Node.js &amp; Keystone.js<span class="footer-blurb"> open-source CMS</span>.</p>
					<p><span class="footer-blurb">No Bootstrap theme, just the framework. Yeah, we ride the grid. </span>&copy; Euphoric Blast 2018.</p>
				</div>
			</div>
		</div>
	</div>
</div>	
</footer>