<div class="container-fluid container-footer-fluid">
		<div class="row">
			<div class="container">
				<div class="row">
					<div id="footer">
						<p>This is NOT a Wordpress site. Hand made by Euphoric Blast in Node.js &amp; Keystone.js open-source CMS.</p>
						<p>No Bootstrap theme, just the framework. Yeah, we ride the grid. &copy; Euphoric Blast 2018.</p>
					</div>
				</div>
			</div>
		</div>
</div>	
