{{#if data.post.video}}
<section id="section-full-video">
<!--||||||||||-->
<!--FULL VIDEO-->
<!--||||||||||-->
	<div class="container-fluid background grey">
		<div class="row">
			<div class="container full-video-container">
				<div class="row full-video-row">
					<iframe id="euphoric-full-video" src="{{getVideoURL data.post.video}}" width="100%" height="100%" frameborder="0" loop="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>	
</section>
{{/if}}