{{#or data.post.content.brief (and data.post.mainImage.exists data.post.mainImageShow)}}
<section id="section-home-page-header">
<!--|||||||||||||||||||||||| -->
<!--PAGE TEXT + IMAGE AT TOP -->
<!--|||||||||||||||||||||||| -->
<div class="container-fluid background grey">
	<div class="row">
		<div class="container text-container">
			<div class="row page-header-row">
				<div class="col-sm-12 col-md-12 text-col">
				{{#if data.post.content.brief}}<h3>{{{data.post.content.brief}}}</h3>{{/if}}
				{{#if data.post.content.extended}}{{{data.post.content.extended}}}{{/if}}
				{{#and data.post.mainImage.exists data.post.mainImageShow}}<img class="cld-responsive img-responsive" data-src="{{cloudinaryUrl data.post.mainImage width='auto' height=202 q='70' crop='fill' gravity='center'}}"/>{{/and}}
				<div class="logo-container">								
					{{>logo-svg}}
				</div>
				</div>				
			</div>
		</div>
	</div>
</div>
</section>	
{{/or}}