<div class="container">	
	<i class="glyphicon glyphicon-stop title-square"></i>	
	<h1 class="page-title"><a href="{{sectionURL data.post.type}}">{{capitalise data.post.type}}</a></h1><h2 class="category-title">&nbsp;<span class="pipe">|</span>&nbsp;{{data.post.title}}</h2>	
</div>
