{{#ifLocationIsWeb data.post.location}}
<div class="weblink-container">
	<a href="{{data.post.location}}" target="_blank">
		<button type="button" class="btn btn-weblink">Visit Website</button>
	</a>
</div>
{{/ifLocationIsWeb}}