{{#if data.post.content.extra}}
	<input type="checkbox" class="read-more-state" id="more-read"/>
	<div class="read-more-wrap credits"><span class="read-more">{{{data.post.content.extra}}}</span>
	</div>
	<label for="more-read" class="read-more-trigger"></label>
{{/if}}