/*FONTS*/
@font-face {
    font-family: 'dejavu_sansbook';
    src: url('../fonts/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu_sansextralight';
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*SVG LOGO*/
.logo_highlight{fill:#ffc300;}
.logo_main{fill:#ffffff;}
.drop-cap-back{fill:#333333;}

/*OVERALLS*/
body{
    font-family: 'dejavu_sansbook', Arial, Helvetica, sans-serif;	
	background-color:black;
	color: #EEE;
}
h1 {
    font-weight: 700;
    line-height: .9;  
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 2.1em;
    vertical-align: 1px;
}
h2,h3{
    font-family: 'dejavu_sansextralight', Arial, Helvetica, sans-serif;
    font-size:1.8em;   
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 15px;
}
.project-col.image-col .side-line {
    top:15px;
}
.col-sm-6.col-md-4.project-col .side-line{
    height: 210px;
}
.col-sm-6.col-md-6.project-col .side-line,.col-sm-6.col-md-12.project-col .side-line{
    height: 318px;
}
.post-title-container,.page-title-container{
    position:relative;
}
.video-col h3.content-brief, .large-video-col h3.content-brief{
    margin-top: -6px;
    margin-bottom:25px;
}
.under-line{
  width:100%;
  height:1px;
  background-color:#ffc800;
}
.large-video-col .content-extra p{
  margin:0px;
 }

.large-video-col h3.content-brief{
    margin-bottom: 20px;
}
.text-col h3.content-brief{
  margin-bottom:25px;
}
.drop-cap-container{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: -1px;
}
.small-category-row{
  margin-top:18px;
}
.drop-cap-container-mobile
{
    width: 80px;
    height: 50px;
    display: block;
    position:absolute;
    top: 25px;
    left: 26px;
    z-index: 1000; 
    pointer-events: none; 
}
.full-video-row{
  height:658px;
}

.content-extended,.content-more{    
    font-size: 1em;
}
#euphoric-video{
  background-color: transparent;
}
.background.black{
    background-color: #000;
    border-bottom-color: #FFF;
    color: #EEE;
}
.background.dark-grey{
    background-color: #333;
    border-bottom-color: #FFF;
    color: #EEE;
}
.background.grey{
    background-color: #666;
    border-bottom-color: #FFF;
    color: #EEE;
}
.background.grey .text-col a,.background.grey .text-col a:visited,.background.grey .text-col a:active,.background.light-grey .text-col a:hover{    
    color: #000;
}

.background.grey .text-col a:hover,.background.light-grey .text-col a,.background.light-grey .text-col a:visited,.background.light-grey .text-col a:active{    
    color: #FFF;
}

.ekko-lightbox-nav-overlay a span{
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
a:focus{
  
      text-decoration: none;
}
.background.light-grey{
    background-color: #999;
    color: #333;
    border-bottom-color: #333;
}
.background.white{
    background-color: #FFF;
    color:#333;
    border-bottom-color: #333;
}
.spacer{
  width:3px;
  height:25px;
  display:inline-block;
  margin-left: 16px;
  margin-right: 14px;
  background-color: #ffc800;
  vertical-align: -1px;
}
.post-title .spacer{
  margin-left: 13px;
}
.category-title-text{
  display:inline-block;
  margin-left:0px;
  margin-right:0px;
}
.title-square{
    font-size: 2.6em;
    margin-right: 0px;
    top: 6px;
    left: -8px;
    color: #333333;
    line-height: .1;
}
#header {
	margin-top: 30px;
    margin-bottom: 29px;
}
#footer {
    margin: 30px 0px;
    color: #eeeeee;
    line-height: 0.9;
    text-align: center;
}
.container-footer-fluid{
    border-top: 1px solid #fff;
}
.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.modal-content{
    border-radius:0px;
}
.modal-header{
        width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 0px;
    z-index: 1000;
    overflow: hidden;
    border-bottom: none;
}
.close, .close:focus {
    font-size: 45px;
    color:#fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.close:hover{
color:#fff;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100);
    opacity: 1;
}

.mobile-show,.mobile-show-inline,.mobile-show-inline-block{
  display:none;
}
/*NAVIGATION*/

.navbar-nav{
  margin: 0px -15px;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    border-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar,.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-toggle {
    background-color: #000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, {
    background-color: #ddd;
}
/*.collapse.in.navbar-social li{
  width:50px; float:left; text-align:center;
}*/
.navbar-polygon{
 	border-radius:0px;
 	border-left:0px;
 	border-right:0px;
 	background-color:#333333;
    margin-bottom: 0px;
}

.navbar-polygon .navbar-nav>li>a {
    color: #CCC;
}
.navbar-polygon .navbar-nav>li>a:hover, .navbar-polygon .navbar-nav>li>a:focus {
    color: #FFF;
    background-color:rgba(255,255,255,0.2) ;
}
.navbar-polygon .navbar-nav>.active>a, .navbar-polygon .navbar-nav>.active>a:hover, .navbar-polygon .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}


.navbar-logo-container{
    width: 44px;
    height: 44px;
    float: left;
    margin-left: -3px;
    margin-right: 13px;
    margin-top: 3px;

}
.navbar-logo-container-rotate{
    width: 44px;
    height: 44px;
    padding:0px;
    margin:0px;
    transform: rotateZ(0deg);
    transition: .25s ease;
}
.logo-container{
    position: absolute;
    top: -192px;
    right: 5px;
    width: 245px;
    height: 240px;
    overflow: visible;

}
.navbar-brand-container{
  float:left;
  margin-right: 16px;
}
.navbar-brand {
    font-size: 14px;
  }
.navbar-default .navbar-brand{
  color:#ccc;
  font-family: 'dejavu_sansbook',Arial, Helvetica, sans-serif;
}
.navbar-default .navbar-brand .brand-bold{
  color:#ffc300;
  font-weight:bold;
}
.navbar-default a.navbar-double-link:hover .navbar-brand,.navbar-default a.navbar-double-link:focus .navbar-brand,.navbar-default a.navbar-double-link:hover, .navbar-default a.navbar-double-link:focus,.navbar-default a.navbar-double-link:hover .brand-bold, .navbar-default a.navbar-double-link:focus .brand-bold{
  color: #fff;
}
.navbar-default a.navbar-double-link:hover .navbar-logo-container .navbar-logo-container-rotate{
    transform: rotateZ(180deg) scale(.9);
}
/*WORK LAB BLOG CONTACT PROJECT PAGES*/
#section-categories>.container-fluid{
  margin-bottom:0px;
}
.category-col {
    height: 212px;
    margin-top: -15px;
    margin-bottom: 15px;
    padding-top: 16px;
}
.small-category-col {
    height: 53px;
    padding: 15px;
        margin-top: 0px;
    margin-bottom: 0px;
}
.small-category-image-container{
  height:37px;
  overflow:hidden;
}
.small-category-image-container img{
  filter: blur(Strength=2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='2')";
  -webkit-filter: blur(2px) brightness(60%);
  filter: blur(2px) brightness(60%); 
}
.category-col:before, .project-col:before {
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    border-right: 1px solid #ffc800;
    border-top: 1px solid #ffc800;
    height: 8px;
    width: 8px;
}
.category-col .side-line, .project-col .side-line {
    position: absolute;
    top: 49px;
    left: 7px;
    border-left: 1px solid #ffc800;
    height: 155px;
    width: 1px;
}
h1.page-title,h2.category-title{
    display:inline-block; 
}

h1.page-title>a,h1.page-title>a:hover,h1.page-title>a:visited,h1.page-title>a:active,
h2.category-title a,h2.category-title a:hover,h2.category-title a:visited,h2.category-title a:active{
    color:#EEE;
}
h2.category-title{
    margin-bottom: 0px;
    font-size:1.8em;
    vertical-align: 0px; 
}
.page-images-container-fluid{ 
    background-color:#666;
}
.page-images-col {
    padding-left: 0px;
    padding-right: 10px;
}
.page-images-col:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
}
.page-images-col:nth-child(3) {
    padding-left: 10px;
    padding-right: 0px;
}
h3.project-title{
    width:100%;
    margin-top: -7px;
}
h3.project-title.small-category-title{
font-size:1.2em;
margin-bottom:6px;
margin-top: -4px;
 }
.video-col h3,.text-col h3{
    color:#BBB;
    margin-bottom:0px;
}
h3.related-title{
  margin-bottom:0px;
}
.project-title-container{
    width: 100%;
    height: 40px;
}
.projects-container, .video-container, .text-container,.large-video-container,.no-video-container{
margin-top:30px; 
}
.text-container,.large-video-container{
margin-bottom:30px; 
}
.project-col {
    margin-top: -15px;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.image-col,.related-col {
    margin-bottom: 15px;
    padding-top: 15px;
}
.image-col.portrait.center img, .project-col.portrait.center img {
  margin-top:-50%;
}
.project-image-container {
    overflow:hidden;
}
.category-col .project-image-container{
  height:148px;
}
.col-md-6.project-col .project-image-container,.col-md-12.project-col .project-image-container {
    height: 311px;
}
.col-sm-6.col-md-4.project-col .project-image-container{
    height: 203px;
}
.read-more-state {
  display: none;
}
.read-more {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
  filter: alpha(opacity=0);
  opacity: 0.0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  margin:0px;
}
.read-more p{
    margin-bottom:0px;
}
.read-more-state:checked +.read-more-wrap .read-more {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
  filter: alpha(opacity=100);
  opacity: 1.0;
  font-size: inherit;
}
.read-more-state:checked+.read-more-wrap>.read-more p {
  margin: 0 0 10px 0;
}

.read-more-state ~ .read-more-trigger:before {
  content: '+ Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: '- Read less';
}

.read-more-trigger {
  cursor: pointer;
  background-color: transparent;
  line-height: 1.33333;
  font-weight: normal;
  font-family: 'dejavu_sansbook',Arial, Helvetica, sans-serif;
  text-decoration: none;
  display:inline-block;
  text-align: right;
  width:100%;
  color:#FFF;
}
.read-more-trigger:hover {
  color: #000;
  text-decoration: underline;
}
label.read-more-trigger{
margin-bottom: 0px;
}
.video-col {
    height: 203px;
    margin-bottom:30px;
    overflow:hidden;
}
.portrait .video-col{
  height: 640px;
}
.large-video-col {
    height: 422px;
}
.vimeo-video .col-lg-4 {
    width:35.9%;
    height: 220px;
}
.vimeo-video .col-lg-8 {
    width:64.1%;
    height: 220px;
}
.text-col {
    /*max-height: 203px;*/
    margin-bottom: 0px;
    overflow: hidden;
}
.page-header-row .text-col {
    overflow: visible;
}
.video-col>h3>p,.text-col>h3>p{
    margin:0px;
}
.video-col>p:last-child,.text-col>p:last-child{
    margin-bottom:0px;
}
.video-col>h3+p,.text-col>h3+p{
    margin:10px 0px 0px 0px;
}
.no-video-container .text-col>.img-responsive{ 
    margin-bottom:30px;
}
.video-col>.img-responsive.lonely, .text-col>.img-responsive.lonely{ 
    margin-top:0px;
}
.weblink-container+.img-responsive{
  filter: blur(Strength=2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='2')";
  -webkit-filter: blur(2px) brightness(60%);
  filter: blur(2px) brightness(60%); 
}
.weblink-container:hover+.img-responsive{
  filter: blur(Strength=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='0')";
  -webkit-filter: blur(0px) brightness(100%);
  filter: blur(0px) brightness(100%); 
}
a.project-link img{
  transition: transform 0.5s;
}
a.project-link:hover img{
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
a.project-link:hover .project-col:before,a.project-link:hover .category-col:before{
      border-right: 1px solid #000000;
      border-top: 1px solid #000000;
}
a.project-link:hover .side-line{
      border-left: 1px solid #000000;    
}
a.project-link:hover .under-line{
      background-color: #000000;    
}
a.project-link {
  color: #fff;
  text-decoration: none; 
}
a.project-link:hover {
  color: #222;
}
a.project-link:hover .category-col,a.project-link:hover .project-col{
  background-color:#fff;
}
h3.enquiry-feedback{
    margin-bottom:30px;
}
/* PARAGRAPHS */

.paragraph-container{
    min-height: 280px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph-content-container{
    text-align:center;
}
.paragraph-content-container h4{
   font-family: 'dejavu_sansextralight', Arial, Helvetica, sans-serif;
    font-size:1.8em;   
    line-height: 1.2;
    border-bottom: 1px solid #ffffff;
    margin-top: 0px;
    color:#BBB; 
}
.paragraph-content-container>h4>p{
    margin-bottom: 11px;
}
.paragraph-content-container>p{
    margin-bottom:28px;
}
.paragragh-image-container-fluid{
    max-height:300px;
    overflow: hidden;
}
.paragraph-image-col{
    margin-bottom:30px;
}
.btn-paragraph,.btn-paragraph:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
    margin-bottom:30px;
}
.btn-paragraph:hover{
    color: #111;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-weblink {
    font-size:2em;
    margin-bottom:0px;
    color: #111;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-weblink:hover { 
color: #fff; 
    background-color: #000;
    border-color: #000;
}
.weblink-container{
  position:absolute;
              z-index:1000;
              top:28px;
              left:0px;
              width: 97.5%;
              height: 82%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 15px;
}
.weblink-alone{
  top:0px;
  margin-top: 0px;
  height:100%;
}
.weblink-with-video{
  width:96.2%;
}
/*CAROUSEL BROH */

#carouselbroh{
    background-color: #666;
}
.carousel-image-container{
    width:100%;
    /*max-width:2560px;*/
    height:200px;
    overflow:hidden;
}
.carousel-control .icon-prev:before,.carousel-control .icon-next:before {
    content:none;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
a.carousel-control.left:hover {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#00000000', GradientType=1);
}
a.carousel-control.right:hover {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.2) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.2) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.2) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#40000000', GradientType=1);
}
.carousel-indicators li{
    border-radius:0px;
    height:4px;
    width:20px;
}
.carousel-indicators .active {
    border-radius: 0;
    width: 20px;
    height: 6px;
    background-color: #fff;
}
.carousel-indicators{
      bottom:0px;
      margin-bottom:5px;
}

.no-video-container .text-col{
  margin-top:-7px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px){
  h3 ,h2.category-title{
      font-size:1.5em;
  }
  .full-video-row{
    height:546px;
  }
  .video-col h3.content-brief, .large-video-col h3.content-brief {
    margin-top: -5px;
  }
  .spacer {
    vertical-align: -3px;
  }
  .project-title-container {
    height: 37px;
  }
   .col-lg-4.video-col {
      width:35.9%;
       height: 179px;
  }
  .col-lg-8.video-col {
      width:64.1%;
      height: 179px;
  }
  .large-video-col {
    height: 347px;
  }
  .vimeo-video .col-lg-8 {
      width: 58.2%;
      height: 212px;
  }
  .vimeo-video .col-lg-4{
      width: 41.8%;
      height: 212px;
  }
.col-md-6.project-col .project-image-container,.col-md-12.project-col .project-image-container {
    height: 255px;
}
.col-sm-6.col-md-4.project-col .project-image-container{
    height: 165px;
}
  .category-col {
    height: 181px;
  }
  .small-category-col {
    height: 53px;
  }
  .category-col .side-line {   
    height: 128px;
    top: 46px;
  }
  .project-col .side-line{
    top: 46px;
  }
  .project-col.image-col .side-line {
    top:15px;
  }
 .col-sm-6.col-md-4.project-col .side-line{
  height: 172px;
 }
 .col-sm-6.col-md-6.project-col .side-line,.col-sm-6.col-md-12.project-col .side-line{
  height: 262px;
 }
 .category-col .project-image-container{
  height:120px;
}
h3.project-title.small-category-title {
    font-size: 1.0em;
    }
  .portrait .video-col {
    height: 565px;
  }
}
@media (max-width: 992px){
  .category-col .side-line,.col-sm-6.col-md-6.project-col .side-line,.col-sm-6.col-md-12.project-col .side-line,.col-sm-6.col-md-4.project-col .side-line {   
    height: 201px;
  }
  .full-video-row {
    height: 422px;
  }
  .title-square {
    font-size: 2.4em;
  }
  .col-lg-4.video-col {
    width:50%;
        height: 194px;
  }
  .col-lg-8.video-col {
    width:50%;
        height: 194px;
  }
  .large-video-col {
    height: 405px;
  }
  .large-video-container {
    margin-bottom: 15px;
  }
  .col-sm-12.col-md-4.col-lg-4.large-video-col{
    height:auto;
    margin-top:30px;
  }
  .vimeo-video .col-lg-8 {
    width: 46%;
    height: 212px;
  }
  .vimeo-video .col-lg-4{
    width: 54%;
    height: 212px;
  }
  .category-col {
    width: 50%;
    float: left;
    height: 255px;
  }
  .category-col .project-image-container {
      height: 194px;
  }
  .small-category-col {
    height: 53px;
  }
  .video-col h3, .text-col h3 {
    font-size: 1.5em;
  }
  .video-col h3.content-brief {
    height:50px;
  }
  h1.page-title{
    font-size:2.0em;
  }
  h2.category-title {
    font-size:1.5em;
  }
   span.pipe {
    font-size: 28px;
    vertical-align: 1px;
  } 
  .btn-weblink {
    font-size: 1.5em;
  }
  .project-title-container {
    height: 37px;
  }
  #header {
    margin-bottom: 30px;
  }  
  .col-sm-6.col-md-4.project-col .project-image-container,.col-md-6.project-col .project-image-container,.col-md-12.project-col .project-image-container {
    height: 194px;
  }
  .weblink-container{
    top:25px;
  }  
  .logo-container {
   overflow:hidden;
   height: 163px;
  }
  .col-sm-6.col-md-12.project-col{
    width:100%;
  }
 a.project-link:nth-child(even) .col-sm-6.col-md-12.project-col{
    width:50%;
  }
  a.project-link:last-child .col-sm-6.col-md-6.project-col{
    width:100%;
  }
  a.project-link:last-child .col-sm-6.col-md-6.project-col img{
    margin-top:-15%;
  }
  a.project-link:nth-child(even) .col-sm-6.col-md-6.project-col{
    width:50%;
  }
  a.project-link:nth-child(even) .col-sm-6.col-md-6.project-col img{
    margin-top:0px;
  }
  .image-col.portrait.center img, .project-col.portrait.center img,a.project-link:nth-child(even) .col-sm-6.col-md-6.project-col.portrait.center img,a.project-link:last-child .col-sm-6.col-md-6.project-col.portrait.center img {
    margin-top: -50%;
  }
.portrait .video-col {
    height: 613px;
  }
}
@media (max-width: 768px){
  #section-categories>.container-fluid{
    margin-bottom:-15px;
  }
  .project-col {
    width: 50%;
    float: left;
  }
  .col-sm-6.col-md-4.project-col .project-image-container, .col-md-6.project-col .project-image-container, .col-md-12.project-col .project-image-container {
    height: 142px;
}
  .category-col .side-line,.col-sm-6.col-md-6.project-col .side-line,.col-sm-6.col-md-12.project-col .side-line,.col-sm-6.col-md-4.project-col .side-line {   
    height: 149px;
  }

  .category-col {
    height: 200px;
  }
  .category-col .project-image-container {
    height: 142px;
  }
  .category-col .side-line {
      height: 146px;
  }
  .paragragh-image-container-fluid {
    max-height: 150px;
  }  
  .paragragh-image-container-fluid.center img{
    margin-top:-6%;
  }
  .projects-container{
    margin-top:15px;
  }
  .projects-container.images-container{
    margin-top:15px;  
  }
  .logo-container {
    top: -113px;
    right: 97px;
    width: 155px;
    height: 103px;
  }
  .weblink-container{
    top:22px;
  }
  .project-title-container {
    height: 37px;
  }
  .title-square {
    left: -5px;
    font-size: 2.1em;
    margin-right:4px;
    vertical-align: 2px;
  }
  .paragraph-content-container {
    width: 100%;
  }  
  .paragraph-content-container h4 {
    font-size: 1.8em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
 .paragraph-image-col{
    margin-bottom:15px;  
    height: 150px;
    overflow: hidden;
    padding: 0px;
  } 
  .paragraph-container {
    margin-top: 14px;
  }   
  #header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  p {
    margin: 0 0 7px;
  }
  .content-extended,.content-more{    
    font-size: .9em;   
  }
  .paragraph-content-container p{  
    padding-left:15px;
    padding-right:15px;
    margin-bottom: 15px;
  } 
  .text-col {
    margin-bottom: 7px;
  } 
  h3.content-brief {
    font-size: 1.4em;
  }   
  .text-col:last-child {
    margin-bottom: 12px;
  }
  h1.page-title{
    font-size: 1.8em;
    margin-bottom: 16px;
    vertical-align: 3px;
  }
  h2.category-title {
    font-size:1.4em;
    vertical-align: 3px;
  }
  h2.category-title a{
    margin-left: 0px;
  }
  h3.project-title {
    font-size: 1.4em;
  }
  .drop-cap-container{
    vertical-align: 0px;
  }
  span.pipe {
    font-size: 22px;
    vertical-align: 2px;
  }
   span.pipe.small {
    display:none;
  }
  .col-lg-4.video-col,.col-lg-8.video-col,.vimeo-video .col-lg-8,.vimeo-video .col-lg-4{
      width: 100%;
      height:auto;
      margin-bottom: 10px;
  }
  .col-lg-4.video-col,.vimeo-video .col-lg-4{
      height:200px;
  } 
  .large-video-col {
    height: 400px;
  } 
  .large-video-container {
    margin-bottom: -15px;
  }
  .col-sm-12.col-md-4.col-lg-4.large-video-col {
    margin-top: 15px;
  }
  .large-video-col h3.content-brief {
    margin-bottom: 10px;
  }
  .small-category-row {
    margin-top: 7px;
    padding-bottom: 15px;
  }
  .paragraph-image-col img  {
      margin-top:-15%;
  }
  .project-image-container img {
    margin-top: -3%;
}
  .image-col .project-image-container img{
    margin-top: -5%;
  }
  .col-sm-6.col-md-12.project-col.image-col .project-image-container img{
    margin-top: -1%;
  }
  .project-image-container img.mobo,.paragraph-image-col img.mobo ,.image-col .project-image-container img.mobo{
      margin-top:0px;
  }  
  #footer{
    font-size:0.8em; 
    line-height: 1.5em;  
  }
  .video-col img {
      display:none;
  }
  .projects-container>.row>a:last-child .col-sm-6.col-md-12.project-col {
    margin-bottom: 0px;
  }
  .project-col.image-col{
    margin-top: -15px;
  }  
  .project-col.related-col {
    margin-top: -15px;
  }  
  #contact-page .projects-container {
    margin-top: 15px;
    margin-bottom: -15px;
  }
  .projects-container a:last-child .project-col,.projects-container a:last-child .category-col {
    margin-bottom: 0px;
  }
  .video-container,.large-video-container{
    margin-top: 15px;
  }
  
  #euphoric-video{
    background-color: #333;
  }
  .text-col>h3+p {
    margin: 5px 0 0 0;
  }
  .related-projects .text-col>h3+p {
    margin: 2px 0 0 0;
  }

 .text-container {
    margin-top: 10px;
    margin-bottom:0px;
  }

  #footer{
    margin: 15px 0;
  }
  #footer p {
    margin: 0 0 5px;
  }
  .navbar-logo-container {
    margin-left: 13px;
    margin-right: -3px;
  }
  .small-category-col {
    width: 50%;
    float: left;
    height:53px;
  }
   .video-col h3.content-brief {
    height:auto;
    margin-top: -4px;
    }
  .no-video-container .text-col{
    margin-top:-2px;
  }
.image-col.portrait.center img, .project-col.portrait.center img,a.project-link:nth-child(even) .col-sm-6.col-md-6.project-col.portrait.center img,a.project-link:last-child .col-sm-6.col-md-6.project-col.portrait.center img {
    margin-top: -60%;
  }
}
@media (max-width: 700px){ 
  .paragraph-image-col img  {
      margin-top:-12%;
  }
  .project-image-container img,.image-col .project-image-container img{
    margin-top: -3%;
  }
  .logo-container {
    top: -91px;
    right: 90px;
    width: 138px;
    height: 79px;
  }
}
@media (max-width: 660px){ 
  h3.content-brief,h2.category-title,h3.project-title{
    font-size: 1.3em;
  }
}
@media (max-width: 620px){ 
  h3.content-brief,h2.category-title,h3.project-title{
    font-size: 1.2em;
  }
}
@media (max-width: 600px){ 
  #section-categories>.container-fluid{
    margin-bottom:0px;
  }
  .project-col {
    width: 100%;
    clear:both;
  }
  h2.category-title {
    font-size: 20px;
    display: block; 
    margin-left:-1px;
    margin-bottom:14px;
    margin-top:-8px;
  }
  /* TODO delete this if we only use the one above at 768 */
  .navbar-logo-container {
    margin-left: 13px;
    margin-right: -3px;
  }
  .logo-container {
    right: 68px;
  }
  .video-col h3, .text-col h3 {
    font-size: 20px;
  }
  .project-title-container {
    height: 35px;
  }  
  h2.category-title.post-title{
    margin-top: -6px;
    margin-bottom: 12px;
  }  
  .mobile-show{
    display:block;
  }
  .mobile-show-inline-block{
    display:inline-block;
  }
  .mobile-show-inline{
    display:inline;
  }
  .mobile-hide{
    display:none;
  }
  .category-off .mobile-hide{
    display:inline;
  }
  .category-off .mobile-show-inline{
    display:none;
  }
  .category-title-text{
    margin-left: 40px;
  }
  .category-col .project-image-container {
      height: 140px;
  }  
  .col-sm-6.col-md-4.project-col.image-col .side-line,.col-md-6.project-col.image-col .side-line,.col-md-12.project-col.image-col .side-line {
    height: 257px;
  }
  .col-sm-6.col-md-4.project-col.image-col .project-image-container,.col-md-6.project-col.image-col .project-image-container,.col-md-12.project-col.image-col .project-image-container {
    height: 250px;
  }
  h3.project-title{
    font-size:20px;    
    margin-left: -2px;
  }  
  .project-image-container img,.paragraph-image-col img  {
      margin-top:-9%;
  } 
  .image-col .project-image-container img{
    margin-top: -4%;
  }
  .category-col,.project-col{
    padding-top: 17px;
  }
  .category-col {
    width: 100%;
    clear:both;
  }
  #footer{
    font-size: 0.7em;
  }  
  span.footer-blurb{
    display: none;
  }  
  .image-col{
    padding-top: 15px;
    margin-top: -30px;
  }  
  .small-category-col {
    width:50%;
    float: left;
    height:53px;
    clear:none;
  }
  .paragragh-image-container-fluid.center img{
    margin-top:-4%;
  }
  a.project-link:nth-child(even) .col-sm-6.col-md-6.project-col{
    width:100%;
  }
  a.project-link:hover+a.project-link .project-col.image-col:before{
    border-top:0px solid #ffc800;
    border-right:0px solid #ffc800;
  }
  a.project-link:nth-child(even) .col-sm-6.col-md-12.project-col{
    width:100%;
  }
 .project-col.image-col{
    margin-top: -30px;
  }
  .projects-container.images-container{
    margin-top:30px;  
  }
  a.project-link:last-child .col-sm-6.col-md-6.project-col img {
    margin-top: -4%;
  }
}
@media (max-width:535px){ 
  .image-col .project-image-container img{
    margin-top: 0%;
  }
}
@media (max-width: 480px){
  .category-col {
    height: 166px;
  }
  .small-category-col {
      height: 53px;
  }
  .category-col .project-image-container {
    height: 106px;
  }
  .col-sm-6.col-md-4.project-col .project-image-container,.col-md-6.project-col .project-image-container,.col-md-12.project-col .project-image-container {
    height: 106px;
  } 
  .project-col .side-line{
    top: 45px;
  }
  .category-col .side-line,.col-sm-6.col-md-6.project-col .side-line,.col-sm-6.col-md-12.project-col .side-line,.col-sm-6.col-md-4.project-col .side-line {   
    height: 113px;
  }
  .col-sm-6.col-md-4.project-col.image-col .side-line,.col-md-6.project-col.image-col .side-line,.col-md-12.project-col.image-col .side-line {
    height: 207px;
  }
  .col-sm-6.col-md-4.project-col.image-col .project-image-container,.col-md-6.project-col.image-col .project-image-container,.col-md-12.project-col.image-col .project-image-container {
    height: 200px;
  }
  .weblink-container {
    top: 45px;
    height: 76%;
  }
  #footer{
    font-size: 0.6em;
  } 
  .project-image-container img {
    margin-top: -14%;
  }
  .image-col .project-image-container img{
    margin-top: -2%;
  }
  .logo-container {
    top: -83px;
    right: 60px;
    width: 128px;
    height: 74px;
  }
  .paragragh-image-container-fluid.center img {
    margin-top: 0%;
  }
}
@media (max-width: 420px){ 
  .image-col .project-image-container img{
    margin-top: 0%;
  }
}
@media (max-width: 380px){   
  .image-col .project-image-container img{
    margin-top: -3%;
  }
  .col-sm-6.col-md-4.project-col.image-col .side-line,.col-md-6.project-col.image-col .side-line,.col-md-12.project-col.image-col .side-line {
    height: 157px;
  }
  .col-sm-6.col-md-4.project-col.image-col .project-image-container,.col-md-6.project-col.image-col .project-image-container,.col-md-12.project-col.image-col .project-image-container {
    height: 150px;
  }
  h3.project-title.small-category-title {
    font-size: 0.9em;
  }
  .paragraph-image-col {
    height: 120px;
  }
  .paragraph-image-col img {
    margin-top: -10%;
  }
}
@media (max-width: 320px){   
  .logo-container {
    display:none;
  }  
  .video-col h3, .text-col h3,h3.project-title,h2.category-title {
    font-size: 18px;
  }
  .image-col .project-image-container img{
    margin-top: -2%;
  }
  .col-sm-6.col-md-4.project-col.image-col .side-line,.col-md-6.project-col.image-col .side-line,.col-md-12.project-col.image-col .side-line {
    height: 127px;
  }
  .col-sm-6.col-md-4.project-col.image-col .project-image-container,.col-md-6.project-col.image-col .project-image-container,.col-md-12.project-col.image-col .project-image-container {
    height: 120px;
  }
  h3.project-title.small-category-title {
    font-size: 0.8em;
  }
}
@media (max-width: 300px){   
  .video-col h3, .text-col h3,h3.project-title,h2.category-title {
    font-size: 17px;
  }
  .paragraph-image-col img {
    margin-top: -3%;
  }
  h3.project-title.small-category-title {
    font-size: 0.8em;
  }
  .small-category-col {
    width:100%;
    height:53px;
    clear:both;
  }
}

