/*FONTS*/

@font-face {
    font-family: 'dejavu_sansbold';
    src: url('../fonts/DejaVuSans-Bold-webfont.eot');
    src: url('../fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Bold-webfont.svg#dejavu_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu_sansbook';
    src: url('../fonts/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavu_sansextralight';
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*OVERALLS*/

body{
    font-family: 'dejavu_sansbook',Arial, Helvetica, sans-serif;	
	background-color:black;
	color: #EEE;
}
h1{    
    font-weight: 700;
    line-height: 0.9;
    margin-top: 0px;
    margin-bottom: 30px;    
}
h2,h3{
    font-family: 'dejavu_sansextralight',Arial, Helvetica, sans-serif;
    font-size:1.8em;   
    line-height: 0.9;
    margin-top: 0px;
    margin-bottom: 15px;    
}
.background.black{
    background-color: #000;
    border-bottom-color: #FFF;
    color: #EEE;
}
.background.dark-grey{
    background-color: #333;
    border-bottom-color: #FFF;
    color: #EEE;
}
.background.grey{
    background-color: #666;
    border-bottom-color: #FFF;
    color: #EEE;
}
.background.grey .text-col a,.background.grey .text-col a:visited,.background.grey .text-col a:active,.background.light-grey .text-col a:hover{    
    color: #000;
}

.background.grey .text-col a:hover,.background.light-grey .text-col a,.background.light-grey .text-col a:visited,.background.light-grey .text-col a:active{    
    color: #FFF;
}


.background.light-grey{
    background-color: #999;
    color: #333;
    border-bottom-color: #333;
}
.background.white{
    background-color: #FFF;
    color:#333;
    border-bottom-color: #333;
}
span.pipe{
    font-size: 32px;
    line-height: .1;
    vertical-align: 2px;
}
.title-square{
    font-size: 2.9em;
    margin-right: 0px;
    top: 6px;
    left: -8px;
    color: #333333;
    line-height: .1;
}
#header {
	margin-top: 30px;
    margin-bottom: 30px;
}
#footer {
    margin: 30px 0px;
    color: #eeeeee;
    line-height: 0.9;
    text-align: center;
}
.container-footer-fluid{
    border-top: 1px solid #fff;
}
.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.modal-content{
    border-radius:0px;
}

/*NAVIGATION*/

.navbar-polygon{
 	border-radius:0px;
 	border-left:0px;
 	border-right:0px;
 	background-color:#333333;
    margin-bottom: 0px;
}

.navbar-polygon .navbar-nav>li>a {
    color: #CCC;
}
.navbar-polygon .navbar-nav>li>a:hover, .navbar-polygon .navbar-nav>li>a:focus {
    color: #FFF;
    background-color:rgba(255,255,255,0.2) ;
}
.navbar-polygon .navbar-nav>.active>a, .navbar-polygon .navbar-nav>.active>a:hover, .navbar-polygon .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-social{
	font-size:1.3em;
	display:none;
}
.navbar-social-mobile {
	font-size:1.3em;
    display:block;
}
.navbar-social-mobile .navbar-nav {
    margin:0px;
}
.navbar-social-mobile .navbar-nav>li {
    float: left;
}
.navbar-social-mobile .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    width:50px;
    line-height:50px;
    text-align: center;
}

/*WORK LAB BLOG CONTACT PAGES*/

.category-col {
    height: 218px;
    margin-top: -15px;
    margin-bottom: 15px;
    padding-top: 15px;
}
h1.page-title{
    display:inline-block;
}
h1.page-title>a,h1.page-title>a:hover,h1.page-title>a:visited,h1.page-title>a:active{
    color:#EEE;
}
h2.category-title{
    display:inline-block;
    margin-bottom: 0px;
    font-size:2.2em;
}
.page-images-container-fluid{ 
    background-color:#666;
}
.page-images-col {
    padding-left: 0px;
    padding-right: 10px;
}
.page-images-col:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
}
.page-images-col:nth-child(3) {
    padding-left: 10px;
    padding-right: 0px;
}
h3.project-title{
    width:100%;
    margin-top: 0px;
}
.video-col h3,.text-col h3{
    color:#BBB;
    margin-bottom:0px;
}
.project-title-container{
    width: 100%;
    height: 40px;
}
.project-image-container{
 overflow:hidden;
}
.projects-container, .video-container, .text-container{
 margin-top:29px; 
}
.project-col {
    margin-top: -15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top:15px;
}
.video-col {
    height: 203px;
    margin-bottom:30px;
    overflow:hidden;
}
.text-col {
    max-height: 203px;
    margin-bottom: 30px;
    overflow: hidden;
}
.video-col>h3>p,.text-col>h3>p{
    margin:0px;
}
.video-col>p:last-child,.text-col>p:last-child{
    margin-bottom:0px;
}
.video-col>h3+p,.text-col>h3+p{
    margin:10px 0px 0px 0px;
}
.video-col>.img-responsive, .text-col>.img-responsive{ 
    margin-top:15px;
}
a.project-link img{
  transition: all 0.5s;
}
a.project-link:hover img{
  transform: scale(1.03);
}
a.project-link {
  color: #fff;
  text-decoration: none; 
}
a.project-link:hover {
  color: #222;
}
a.project-link:hover .category-col,a.project-link:hover .project-col{
  background-color:#fff;
}
h3.enquiry-feedback{
    margin-bottom:30px;
}
/* PARAGRAPHS */

.paragraph-container{
    min-height: 280px;
    margin-top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph-content-container{
    text-align:center;
}
.paragraph-content-container h4{
    font-size: 2em;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 0px;
    line-height: 0.9;
}
.paragraph-content-container>h4>p{
    margin-bottom: 15px;
}
.paragraph-content-container>p{
    margin-bottom:30px;
}
.paragragh-image-container-fluid{
    max-height:300px;
    overflow: hidden;
}
.paragraph-image-col{
    margin-bottom:30px;
}
.btn-paragraph,.btn-paragraph:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
    margin-bottom:30px;
}
.btn-paragraph:hover{
    color: #111;
    background-color: #FFF;
    border-color: #FFF;
}

/*CAROUSEL BROH */

#carouselbroh{
    background-color: #666;
}
.carousel-image-container{
    width:100%;
    /*max-width:2560px;*/
    height:200px;
    overflow:hidden;
}
.carousel-control .icon-prev:before,.carousel-control .icon-next:before {
    content:none;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
a.carousel-control.left:hover {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#00000000', GradientType=1);
}
a.carousel-control.right:hover {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.2) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.2) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.2) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#40000000', GradientType=1);
}
.carousel-indicators li{
    border-radius:0px;
    height:4px;
    width:20px;
}
.carousel-indicators .active {
    border-radius: 0;
    width: 20px;
    height: 6px;
    background-color: #fff;
}

/*MEDIA QUERIES*/

@media (min-width: 768px){
.navbar-social {
    display:block;
}
.navbar-social-mobile {
    display:none;
}	
.carousel-indicators{
    bottom:0px;
    margin-bottom:5px;
}
}
